@model IEnumerable<NET_290_291_T35.Models.ToDoTask.ToDoTask>
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/task.css" rel="stylesheet" />

<h1>To do List</h1>

<section>
    <div class="d-flex justify-content-end mb-3">
        <a href="#" class="btn btn-primary shadow rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Thêm nhiệm vụ</a>
    </div>
    <hr />
    <div class="d-flex gap-3">
        <aside class="w-25 shadow rounded">
            <h4 class="text-center">Trạng thái nhiệm vụ</h4>
            <div class="px-3 py-2">
                <div class="d-flex justify-content-between form-check text-primary task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" id="tatca" checked>
                        <label class="form-check-label w-100" for="tatca">
                            Tất cả
                        </label>
                    </div>
                    <label class="form-check-label" for="tatca">
                        8
                    </label>
                </div>
                <div class="d-flex justify-content-between form-check text-success task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" id="hoanthanh">
                        <label class="form-check-label w-100" for="hoanthanh">
                            Hoàn thành
                        </label>
                    </div>
                    <label class="form-check-label" for="hoanthanh">
                        8
                    </label>
                </div>
                <div class="d-flex justify-content-between form-check text-warning task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" id="danglam">
                        <label class="form-check-label w-100" for="danglam">
                            Đang làm
                        </label>
                    </div>
                    <label class="form-check-label" for="danglam">
                        8
                    </label>
                </div>
                <div class="d-flex justify-content-between form-check text-danger task">
                    <div class="w-100">
                        <input class="form-check-input" type="radio" name="task" id="huybo">
                        <label class="form-check-label w-100" for="huybo">
                            Hủy bỏ
                        </label>
                    </div>
                    <label class="form-check-label" for="huybo">
                        8
                    </label>
                </div>
            </div>
        </aside>

        <article class="d-grid w-75">
            @* list item *@
            @if (Model.Count() > 0)
            {
                <div class="row row-cols-4">
                    <div class="col mb-4">
                        <div class="card shadow rounded">
                            <div class="card-body">
                                <h5 class="card-title">Ten nhiem vụ</h5>
                                <p class="card-text">Thoi gian bat dau</p>
                                <p class="card-text">Thoi gian ket thuc</p>
                                <p class="card-text">Thoi gian ket thuc</p>
                                <p class="card-text">Trang thai</p>
                                <div class="d-flex justify-content-between gap-1">
                                    <a href="#" class="w-100 btn btn-outline-danger shadow rounded">Xóa</a>
                                    <a href="#" class="w-100 btn btn-warning shadow rounded">Sửa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h4 class="text-center">Khong co du lieu</h4>
            }
        </article>
    </div>
</section>
<section>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="staticBackdropLabel">Thêm nhiệm vụ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tennhiemvu" class="form-label fw-bold">Tên nhiệm vụ</label>
                        <input type="email" class="form-control" id="tennhiemvu" placeholder="">
                    </div>
                    <div class="d-flex justify-content-between gap-3">
                        <div class="mb-3 w-50">
                            <label for="thoigianbatdau" class="form-label fw-bold">Thời gian bắt đầu</label>
                            <input type="date" class="form-control" id="thoigianbatdau" value="" placeholder="">
                        </div>
                        <div class="mb-3 w-50">
                            <label for="thoigianketthuc" class="form-label fw-bold">Thời gian kết thúc</label>
                            <input type="date" class="form-control" id="thoigianketthuc" value="" placeholder="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Trạng thái</label>
                        <select class="form-select" aria-label="Trạng thái">
                            <option selected value="1">Hoàn thành</option>
                            <option value="2">Đang làm</option>
                            <option value="3">Hủy bỏ</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="mota" class="form-label fw-bold">Mô tả</label>
                        <textarea class="form-control" id="mota" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-primary">Thêm nhiệm vụ</button>
                </div>
            </div>
        </div>
    </div>
</section>