
@{
    ViewData["Title"] = "Step2";
}
<link href="~/css/step2.css" rel="stylesheet" />

<section>
    <h1>Người giàu chẳng bao giờ tích trữ 6 món đồ này trong nhà, người nghèo lại chất đống không thiếu một thứ</h1>
    <p><span class="tacgia">Nguyễn Văn A</span>, 14:30 10/02/2024</p>
</section>

<hr />

<h3>Nếu bạn muốn ngôi nhà trở nên ngăn nắp, gọn gàng và tinh tế hơn, hãy mạnh tay loại 6 món đồ này.</h3>
<ol>
    <li>Bát đũa thìa dùng một lần</li>
    <li>Giẻ lau hết "date"</li>
    <li>Chậu hoa cũ</li>
    <li>Các mặt hàng tiêu dùng</li>
    <li>Quà tặng khuyến mại, quà tặng miễn phí</li>
    <li>Dây cáp hỏng hoặc không sử dụng đến</li>
</ol>
<section id="section1">
    <h5>1. Bát đũa thìa dùng một lần</h5>
    <p>Khi order đồ ăn bên ngoài, hẳn bạn sẽ nhận được các loại bát đũa, dao nĩa thìa... dùng một lần. Vì cảm thấy vất bỏ rất lãng phí nên nhiều người tích trữ lại. Kết quả càng lưu trữ càng chật nhà mà rất ít khi có dịp dùng tới.</p>
    <p>Chưa kể, những món đồ kể trên, đa phần là hàng nhựa có hại cho sức khỏe.</p>
    <p>Thực tế, ở nhà chúng ta đã có đầy đủ bát đĩa thông dụng. Bởi vậy, việc tích trữ đồ dùng 1 lần vừa lãng phí không gian lại vừa không thân thiện với môi trường.</p>
    <div class="hinhanhclas">
        <img loading="lazy" src="/img/hinh_1.png" alt="Hinh 1" />
        <img loading="lazy" src="/img/hinh_2.png" alt="Hinh 2" />
    </div>
</section>
<section id="section2">
    <h5>2. Giẻ lau hết "date"</h5>
    <div class="d-flex align-items-center gap-4">
        <div>
            <p>Giẻ lau có tuổi thọ ngắn, chỉ khoảng 2-3 tháng. Tuy nhiên, ở một số gia đình, món đồ này đã dùng đến mức rách nát nhưng họ vẫn không nỡ vứt bỏ mà tiếp tục sử dụng.</p>
            <p>Cần phải biết rằng, một chiếc giẻ lau chứa lượng vi khuẩn có thể lên tới 500 tỷ trên một mảnh, trong đó bao gồm nhiều loại vi khuẩn gây bệnh thường gặp. Việc sử dụng một thứ đồ vật bẩn thỉu như vậy để lau chùi đồ dùng hàng ngày chẳng phải là nguy cơ sức khỏe lớn đang bị ẩn giấu sao. Bởi vậy, dù có sống tiết kiệm cỡ nào đi nữa thì gia đình bạn cũng rất nên thay định kỳ các loại giẻ lau trong nhà.</p>
            <p>Cần phải biết rằng, một chiếc giẻ lau chứa lượng vi khuẩn có thể lên tới 500 tỷ trên một mảnh, trong đó bao gồm nhiều loại vi khuẩn gây bệnh thường gặp. Việc sử dụng một thứ đồ vật bẩn thỉu như vậy để lau chùi đồ dùng hàng ngày chẳng phải là nguy cơ sức khỏe lớn đang bị ẩn giấu sao. Bởi vậy, dù có sống tiết kiệm cỡ nào đi nữa thì gia đình bạn cũng rất nên thay định kỳ các loại giẻ lau trong nhà.</p>
            <p>Cần phải biết rằng, một chiếc giẻ lau chứa lượng vi khuẩn có thể lên tới 500 tỷ trên một mảnh, trong đó bao gồm nhiều loại vi khuẩn gây bệnh thường gặp. Việc sử dụng một thứ đồ vật bẩn thỉu như vậy để lau chùi đồ dùng hàng ngày chẳng phải là nguy cơ sức khỏe lớn đang bị ẩn giấu sao. Bởi vậy, dù có sống tiết kiệm cỡ nào đi nữa thì gia đình bạn cũng rất nên thay định kỳ các loại giẻ lau trong nhà.</p>
            <p>Cần phải biết rằng, một chiếc giẻ lau chứa lượng vi khuẩn có thể lên tới 500 tỷ trên một mảnh, trong đó bao gồm nhiều loại vi khuẩn gây bệnh thường gặp. Việc sử dụng một thứ đồ vật bẩn thỉu như vậy để lau chùi đồ dùng hàng ngày chẳng phải là nguy cơ sức khỏe lớn đang bị ẩn giấu sao. Bởi vậy, dù có sống tiết kiệm cỡ nào đi nữa thì gia đình bạn cũng rất nên thay định kỳ các loại giẻ lau trong nhà.</p>
        </div>
        <img loading="lazy" style="height: 500px;" src="/img/hinh_3.png" alt="Hinh 3" />
    </div>
</section>
<section id="section3">
    <h5>3. Chậu hoa cũ</h5>
    <div class="d-flex justify-content-center align-items-center gap-3">
        <img loading="lazy" style="width: 500px; height: 500px;" src="/img/hinh_4.png" alt="Hinh 4" />
        <p>Hoa hay cây cảnh là bộ môn đòi hỏi sự khéo léo của người trồng. Nếu không thực sự "mát tay" với công việc này thì lời khuyên cho bạn là đừng cố gắng tích trữ chậu hoa tại ban công. Lời khuyên cho bạn là có thể thanh lý hoặc tặng cho bạn bè, người thân. Hoặc không, bạn có thể để nó cạnh thùng rác và đóng gói, gắn nhãn rằng: "Đồ tốt, chỉ là mình không dùng đến". Như vậy, một số người yêu hoa có thể nhặt và tái sử dụng chúng.</p>
    </div>
</section>
<section id="section4">
    <h5>4. Các mặt hàng tiêu dùng</h5>
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <p style="text-align:start;">Các bà nội trợ rất thích tích trữ các mặt hàng cần thiết hàng ngày như sữa tắm, dầu gội, bột giặt, khăn giấy, khăn mặt, bàn chải đánh răng... Với lời quảng cáo, mua càng nhiều càng được giảm giá nhiều, họ cho rằng cứ ôm hết về nhà sẽ giúp tiết kiệm 1 khoản không nhỏ.</p>
        <img loading="lazy" style="width: 500px; height: 500px;" src="/img/hinh_5.png" alt="Hinh 5" />
        <p>Hiện nay việc mua đồ rất tiện lợi, bạn có thể đến siêu thị, cũng có thể mua hàng trực tuyến và giao hàng đến tận nhà. Bởi vậy, thực sự không cần phải dự trữ những mặt hàng này đâu. Chúng sẽ chỉ khiến cho ngôi nhà bạn bừa bộn hơn thôi.</p>
    </div>
</section>
<section>
    <h5>5. Quà tặng khuyến mại, quà tặng miễn phí</h5>
    <p>Nhiều người cảm thấy khó cưỡng lại sự cám dỗ của quà tặng miễn phí. Mua cà phê tặng cốc, mua sản phẩm chăm sóc da tặng túi mỹ phẩm, mua mì ăn liền tặng dây buộc tóc... Chắc hẳn chúng ta đã từng nhận và nhìn thấy những món quà này.</p>
</section>
<section id="section5">
    <h5>6. Dây cáp hỏng hoặc không sử dụng đến</h5>
    <p>Mỗi sản phẩm điện tử bạn mua đều đi kèm với cáp sạc. Theo thời gian, chúng có thể hỏng hóc, giảm chất lượng hoặc không tiện sử dụng đến. Tuy nhiên, bạn lại không nỡ vất đi với suy nghĩ "biết đâu có ngày sẽ cần". Và thế là từ ngày này qua ngày khác, những sợi dây được tích trữ ngày một nhiều hơn. Thực sự, chỉ nhìn thôi đã thấy quá bừa bộn rồi.</p>
    <div class="d-flex justify-content-between">
        <img style="width: 300px; height: 300px;" loading="lazy" src="/img/hinh_6.png" alt="Hinh 6" />
        <img style="width: 300px; height: 300px;" loading="lazy" src="/img/hinh_6_1.jpg" alt="Hinh 6.1" />
        <img style="width: 300px; height: 300px;" loading="lazy" src="/img/hinh_6_2.jpg" alt="Hinh 6.2" />
        <img style="width: 300px; height: 300px;" loading="lazy" src="/img/hinh_6_3.jpg" alt="Hinh 6.3" />
    </div>
</section>

