aside{
    height: fit-content;
}

.task {
    padding: 8px 8px 8px 32px;
}    

.task:hover{
    background-color: lightgray;
    border-radius:8px 0px 8px 0px;
}

.card-done {
    background-color: #26E600;
}

.card-waiting {
    background-color: #FFDD99;
}

.card-remove {
    background-color: #FF5533;
}
